version: '3.1'

services:

  wordpress:
    image: wordpress
    ports:
      - 8218:80
    environment:
      WORDPRESS_DB_PASSWORD: example
      ABSPATH: /usr/src/wordpress/
      SCRIPT_DEBUG: true
    volumes:
      - wordpress:/var/www/html
      - .:/var/www/html/wp-content/plugins/caldera-wordpress-plugin
      - ./wp-content/themes/theme:/var/www/html/wp-content/themes/theme
      - ./wp-content/plugins/caldera-forms:/var/www/html/wp-content/plugins/caldera-forms
      - ./wp-content/plugins/gutenberg:/var/www/html/wp-content/plugins/gutenberg
      - ./wp-content/plugins/ghost-runner:/var/www/html/wp-content/plugins/ghost-runner
  cli:
    image: wordpress:cli
    volumes:
      - wordpress:/var/www/html
      - .:/var/www/html/wp-content/plugins/caldera-wordpress-plugin
      - ./wp-content/themes/theme:/var/www/html/wp-content/themes/theme
      - ./wp-content/plugins/caldera-forms:/var/www/html/wp-content/plugins/caldera-forms
      - ./wp-content/plugins/gutenberg:/var/www/html/wp-content/plugins/gutenberg
      - ./wp-content/plugins/ghost-runner:/var/www/html/wp-content/plugins/ghost-runner
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: wordpress_test

  wordpress_phpunit:
    image: chriszarate/wordpress-phpunit
    environment:
      PHPUNIT_DB_HOST: mysql
    volumes:
      - .:/app
      - testsuite:/tmp

  composer:
    image: composer
    volumes:
      - .:/app

volumes:
  testsuite:
  wordpress:
